<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vallab portfoli</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="../css/minireset.mini.css">
    <link rel="stylesheet" href="../css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>
<body>
    <div class="wallpaper"></div>
<div class="content">
<aside class="side">
<figure class="picture">
    <div class="picture-shadow"></div>
<img id="pictureImage" class="picture-image"
    src="../images/vallab.jpg" srcset=""alt="Portrait of Vallab Devara" width="320"height="320">
</figure>
</aside>
<main class="about">
<h1 class="name">
Hi, I'm Vallab Mandeep Reddy
</h1>
<p class="job">
Exploring Myself To IT
</p>
<hr class="hr">
<div class="description">
<p>
    Most of the time use to play sports and make trips to explore myself and having fun.But to build my carrier i choose coding.
</p>
</div>
<div class="contact">
<a class="button" href ="/projects">
    Explore More
</a>
<div class="contact">
    <ul class="social">
        <li>
        <a>
        <i class="fab fa-twitter"></i>
        </a>
        </li>
        <li>
        <a>
        <i class="fab fa-github"></i>
        </a>
        </li>
        <li>
        <a>
        <i class="fab fa-linkedin"></i>
        </a>
        </li>
        </ul>
</div>
</div>
</main>
</div>
</body>
</html>